In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import matplotlib.pyplot as plt

In [4]:
%matplotlib inline

In [6]:
eth = pd.read_csv('eth-price.csv')

In [7]:
eth.head()

  Date(UTC)  UnixTimeStamp  Value
0  4/2/2017     1491091200  48.55
1  4/3/2017     1491177600  44.13
2  4/4/2017     1491264000  44.43
3  4/5/2017     1491350400  44.90
4  4/6/2017     1491436800  43.23

In [11]:
eth = pd.read_csv('eth-price.csv', parse_dates=True, index_col=0)
print(eth.info())

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 362 entries, 2017-04-02 to 2018-04-01
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   UnixTimeStamp  362 non-null    int64
 1   Value          362 non-null    float64
dtypes: float64(1), int64(1)
memory usage: 8.5 KB
None

DatetimeIndex(['2017-04-02', '2017-04-05', '2017-04-08', '2017-04-11',
               '2017-04-14', '2017-04-17', '2017-04-20', '2017-04-23',
               '2017-04-26', '2017-04-29',
               ...
               '2018-03-04', '2018-03-07', '2018-03-10', '2018-03-13',
               '2018-03-16', '2018-03-19', '2018-03-22', '2018-03-25',
               '2018-03-28', '2018-03-31'],
              dtype='datetime64[ns]', name='Date(UTC)', length=121, freq=None)